body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#flyBtn {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 50px;
    height: 30px;
    left: 1380px;
    top: 5px;
    position: absolute;
}

#walkBtn {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 50px;
    height: 30px;
    position: absolute;
    left: 1380px;
    top: 40px;
}
